# Last match in file takes precedence.

# Everything
*                                                   @KeldWolf @FluffMe @youtissoum

# C# code
/Content.*/                                         @KeldWolf @FluffMe @youtissoum

# YML files
/Resources/*.yml                                    @KeldWolf @FluffMe @youtissoum @Zap527
/Resources/**/*.yml                                 @KeldWolf @FluffMe @youtissoum @Zap527

# Sprites
/Resources/Textures/                                @DieselMohawk

# Lobby art and music
/Resources/Audio/Lobby/                             @KeldWolf
/Resources/Audio/_Harmony/Lobby/                    @KeldWolf
/Resources/Textures/LobbyScreens/                   @DieselMohawk
/Resources/Textures/_Harmony/LobbyScreens/          @DieselMohawk

# Maps
/Resources/Maps/                                    @spanky-spanky
/Resources/Prototypes/Maps/                         @spanky-spanky
/Resources/Prototypes/_Harmony/Maps/                @spanky-spanky
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @spanky-spanky
